<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tweets</title>
</head>

<body>
    <h1>All Tweets</h1>
    <ul>
        <% for(let t of tweets){ %>
            <li>
                <%= t.tweet %> - <b>
                        <%= t.username %>
                    </b>
                    <a href="/tweets/<%= t.id%>">details</a>
            </li>
            <% } %>
    </ul>
    <a href="tweets/new">New Tweet</a>

</body>

</html>