<%- include('partials/head') %>


<%- include('partials/navbar') %>
<h1>All The Animes</h1>
<ul>
    <% for(let anime of animes) { %>
    <li><%= anime %></li>
    <% } %>
</ul>
<%- include('partials/footer') %>